<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments:: head">
</head>

<header th:replace="fragments:: header-logged">
</header>
<body>
<h3 class="text-success">Welcome <span th:text="${name}"></span> to your daily schedule</h3>

<h4><span th:text="${today}"></span> Assignment</h4>



<table class="table table-hover">
    <thead>
    <tr >
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Shipment Description</th>
        <th scope="col">Recipient</th>
        <th scope="col">Delivery Status</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${myShipment != null}">
        <tr>
            <td th:text="${myShipment.source}"></td>
            <td th:text="${myShipment.destination}"></td>
            <td th:text="${myShipment.description}"></td>
            <td th:text="${myShipment.recipient}"></td>
            <td>Enroute</td>
        </tr>
    </th:block>
    <span th:unless="${myShipment !=null}" class="text-danger">You have no assignment</span>
    </tbody>
</table>
<hr>
<h4>Other Drivers Assignments</h4>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Shipment</th>
        <th scope="col">Swap Willingness?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shipment : ${shipments}">
        <td th:text="${shipment.user}"></td>
        <td th:text="${shipment.source}"></td>
        <td th:text="${shipment.destination}"></td>
        <td th:text="${shipment.description}"></td>
        <td>No</td>
    </tr>
    </tbody>
</table>
</body>
</html>