<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments:: head">
</head>

<header th:replace="fragments:: header-logged">
</header>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/driver/shipment}">My Assignments</a></li>
        </ul>
    </div>
</nav>
<body>
<h3 class="text-success">Welcome <span th:text="${name}"></span> to your daily schedule</h3>

<h4><span th:text="${today}"></span> Assignment</h4>



<table class="table table-hover">
    <thead>
    <tr >
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Shipment Description</th>
        <th scope="col">Recipient</th>
        <th scope="col">Delivery Status</th>
        <th scope="col">Swap</th>

    </tr>
    </thead>
    <tbody>
    <th:block th:if="${myShipment != null}">
        <tr>
            <td th:text="${myShipment.source}"></td>
            <td th:text="${myShipment.destination}"></td>
            <td th:text="${myShipment.description}"></td>
            <td th:text="${myShipment.recipient}"></td>
            <td>Enroute</td>
            <td th:text="${myShipment.swappable} ?'Yes':'No'"></td>
        </tr>
    </th:block>
    <span th:unless="${myShipment !=null}" class="text-danger">You have no assignment</span>
    </tbody>
</table>
<form  th:method="post" th:action="@{/driver/index}">
    <button class="btn btn-primary" th:name="swap" type="submit">Swap</button>
</form>
<hr>
<h4>Other Drivers Assignments</h4>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Shipment</th>
        <th scope="col">Swap Willingness?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shipment : ${shipments}">
        <td th:text="${shipment.user}"></td>
        <td th:text="${shipment.source}"></td>
        <td th:text="${shipment.destination}"></td>
        <td th:text="${shipment.description}"></td>
        <td>
            <span th:if="${shipment.swappable}">
                <form  th:method="post" th:action="@{/driver/swap}">
                    <button class="btn btn-primary" th:name="username" th:attr="value=${shipment.user.username}" type="submit">Swap</button>
                </form></span>
            <span th:unless="${shipment.swappable}"> No</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>