<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="@{/css/styles.css}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title th:text="${title}"></title>

</head>
<div class="jumbotron text-center " th:fragment="nav-header">
    <h1 th:text="${company}" class="text-primary"></h1>
    <div class="container mt-3">
        <h4 th:text="${appName}"></h4>
    </div>
</div>
<nav th:fragment="header">
    <div class="container">

        <div class="jumbotron text-center ">
            <h1 th:text="${company}" class="text-primary"></h1>
            <div class="container mt-3">
                <h4 th:text="${appName}"></h4>
            </div>
        </div>
    </div>

</nav>
<nav th:fragment="header-logged">
    <ul class="nav" style="float:right;">
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
    <div class="container">
        <div class="jumbotron text-center ">
            <h1 th:text="${company}" class="text-primary"></h1>
            <div class="container mt-3">
                <h4 th:text="${appName}"></h4>
            </div>
        </div>
    </div>
</nav>



<nav class="navbar navbar-expand-lg float-right" th:fragment="supervisor-nav">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/supervisor/add}">Add Assignments</a>
            <a class="nav-link" th:href="@{/supervisor/addToken}">Add Token</a>
            <a class="nav-link" th:href="@{/supervisor/allAssignments}">All Assignments</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg float-right" th:fragment="allAssignments">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/supervisor/index}">Home</a>
            <a class="nav-link" th:href="@{/supervisor/add}">Add Assignments</a>
            <a class="nav-link" th:href="@{/supervisor/addToken}">Add Token</a>

        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg float-right" th:fragment="location">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/supervisor/index}">Home</a>
            <a class="nav-link" th:href="@{/supervisor/add}">Add Assignments</a>
            <a class="nav-link" th:href="@{/supervisor/addToken}">Add Token</a>
            <a class="nav-link" th:href="@{/supervisor/allAssignments}">All Assignments</a>
        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-inverse"> <!--th:fragment="supervisor-nav"-->>
    <!--<div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/supervisor/index}">Home</a></li>
            <li><a th:href="@{/supervisor/add}">Add Assignments</a></li>
            <li><a th:href="@{/supervisor/addToken}">Add Token</a></li>
            <li><a th:href="@{/supervisor/allAssignments}">All Assignments</a></li>
        </ul>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg float-right" th:fragment="addToken" >
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/supervisor/index}">Home</a>
            <a class="nav-link" th:href="@{/supervisor/add}">Add Assignments</a>
            <a class="nav-link" th:href="@{/supervisor/allAssignments}">All Assignments</a>
        </div>
    </div>
</nav>
<!--<nav class="navbar navbar-inverse" th:fragment="addToken">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/supervisor/index}">Home</a></li>
            <li><a th:href="@{/supervisor/add}">Add Assignments</a></li>
            <li><a th:href="@{/supervisor/allAssignments}">All Assignments</a></li>
        </ul>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg float-right" th:fragment="addAssignment" >
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/supervisor/index}">Home</a>
            <a class="nav-link" th:href="@{/supervisor/addToken}">Add Token</a>
            <a class="nav-link" th:href="@{/supervisor/allAssignments}">All Assignments</a>
        </div>
    </div>
</nav>
<!--<nav class="navbar navbar-inverse" th:fragment="addAssignment">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/supervisor/index}">Home</a></li>
            <li><a th:href="@{/supervisor/addToken}">Add Token</a></li>
            <li><a th:href="@{/supervisor/allAssignments}">All Assignments</a></li>
        </ul>
    </div>
</nav>
-->




<body>

</body>
</html>