<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>

<header>
    <nav th:fragment="header">
        <div class="container">
            <div>
                <nav class="navbar navbar-expand-lg float-right" th:fragment="supervisor-nav">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" th:href="@{/signup}">signup</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div th:replace="fragments :: nav-header"></div>
        </div>

    </nav>
</header>






<div class="container flex-column d-flex text-center">

    <form method="post">
        <div class="form-group row justify-content-center">
            <label th:for="username" class="control-label col-sm-2">Username</label>
            <div class="col-xs-10">
                <input class="form-control" th:field="${loginFormDTO.username}">
            </div>
            <p class="text-danger" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div class="form-group row justify-content-center">
            <label class="control-label col-sm-2">Password</label>
            <div class="col-xs-10">
                <input class="form-control" th:field="${loginFormDTO.password}" type="password">
            </div>
            <p class="text-danger" th:errors="${loginFormDTO.password}"></p>
        </div>
        <div class="form-group row justify-content-center">
            <label class="control-label col-sm-2"></label>
            <div class="col-xs-10">
                <input type="submit" class="btn btn-primary" value="Log In" />
            </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
            <label class="control-label col-sm-2"></label>
            <div class="col-xm-3"><a href="#">Reset Password</a></div>
        </div>


    </form>




</div>





</body>
</html>